:root {
  --bg-color:#ffffff;
}
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.control{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container {
  display: grid;
  height: 400px;
  width: 400px;
}

.grid-item {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  align-items: center;
  border: 1px solid #ddd;
  text-align: center;
}